//-- INFO
//---------------------------------------------------------------------
mixin info(entity)
	.row
		.col-sm-6
			h3.h--smaller.h--primary Info
			ul
				li Version: {{ #{entity}.versions[0].version }}
				li Uploaded {{ #{entity}.created_at | timeAgo }}

		.col-sm-6

			//-- UPLOADER
			//---------------------------------------------------------------------
			h3.h--smaller.h--primary Uploader
			.media
				.media-left.media-middle
					img.img-avatar.img-avatar--sm(gravatar-src=`${entity}.created_by.gravatar_id`, gravatar-default="retro", fallback-icon="user")
				.media-body.oneliner
					user {{ #{entity}.created_by.name }}

//-- AUTHORS
//---------------------------------------------------------------------
mixin authors(entity)
	h3.h--smaller.h--primary Authors
	.media(ng-repeat=`author in ${entity}.authors`)
		.media-left.media-middle
			img.img-avatar.img-avatar--sm(gravatar-src="author.user.gravatar_id", gravatar-default="retro", fallback-icon="user")
		.media-body
			user {{ author.user.name }}
			br
			| {{ author.roles.join(', ') }}

//-- BLOCK MATCHES
//---------------------------------------------------------------------
mixin blockmatches(vm, entity)
	h3.h--smaller.h--primary
		| Similar Releases
		a(ng-click=`${vm}.blockmatchInfo()`)
			+icon('info').small.shift-up.space-left
	label(ng-hide=`${entity}.files.length > 0`) No similar releases found.
	div(ng-repeat=`file in ${entity}.files`)
		b(ng-show=`${entity}.files.length > 1`) {{ file.file.name }}
		hr(ng-show=`${entity}.files.length > 1`)
		table.table.table-triple-striped
			colgroup
				col(width="20px")
				col(width="40%")
				col
				col(width="20px")
			tr(ng-repeat-start="match in file.blockmatches.matches")
				td(colspan="2") <strong>{{ match.game.title }}</strong><br>{{ match.release.name }} {{ match.version.version }}
				td
					span(ng-bind-html="match.release.authors | authors")
					| <br>{{ match.file.flavor.orientation }} / {{ match.file.flavor.lighting }}
				td.center: a(ui-sref="releaseDetails({ id: match.game.id, releaseId: match.release.id })")
					+icon('eye')
			tr
				td.center-vertically.text--smaller Objects
				td(colspan="3")
					uib-progressbar.progress-striped.progress--flat.progress-bar--light(value="match.countPercentage", type="danger") {{ match.countPercentage | number:1 }}%
			tr(ng-repeat-end)
				td.center-vertically.text--smaller Bytes
				td(colspan="3")
					uib-progressbar.progress-striped.progress--flat.progress-bar--light.padder-bottom-less(value="match.bytesPercentage") {{ match.bytesPercentage | number:1 }}%

//-- HISTORY
//---------------------------------------------------------------------
mixin history(entity)
	h3.h--smaller.h--primary(ng-if=`${entity}.history && ${entity}.history.length`) History
	table.table.table-striped(ng-if=`${entity}.history && ${entity}.history.length`)
		colgroup
			col
			col(width="20px")
			col
			col
			col
		tr(ng-repeat=`item in ${entity}.history`)
			td(nowrap) {{ item.created_at | date : 'short' }}
			td
				+icon('{{ item.icon }}')
			td {{ item.status }}
			td {{ item.created_by.username }}
			td {{ item.message }}

//-- MESSAGE
//---------------------------------------------------------------------
mixin message(vm, entity)
	h3.h--smaller.h--primary Message
	.media.media--no-margin.collapse-in-animation(ng-repeat=`comment in ${entity}.comments track by comment.id`)
		.collapse-in-animation-inner
			.media-left.avatar
				img.img-avatar.pull-left(gravatar-src="comment.from.gravatar_id", gravatar-default="retro", fallback-icon="user")
			.media-body.media--full-width
				.panel.panel--inner
					.panel-triangle
					.panel-heading
						label
						strong {{ comment.from.name }}
						span &nbsp;commented {{ comment.created_at | timeAgo }}
					.panel-body
						div.markdown(markdown="comment.message")

	.form-group(ng-class=`{ error: ${vm}.errors.message }`)
		editor.tabset--light(ng-model=`${vm}.message`, user=`${vm}.AuthService.user`, placeholder="Message to user (mandatory if refusal)", markdown-text="Markdown enabled.")
	div.alert.alert-danger.padder-bottom(ng-show=`${vm}.errors.message`)
		+icon('warning').shift-up.space-right
		| {{ #{vm}.errors.message }}


mixin footer(vm, entity)
	button.btn.btn-hollow.pull-left(ng-click="$dismiss()") Cancel
		button.btn.btn-primary.btn-red(ng-hide=`${entity}.moderation.is_deleted`, ng-click=`${vm}.delete()`, ng-disabled="submitting")
			+icon('trash').space-right.shift-down-1px
			| Delete
		button.btn.btn-primary.btn-red(ng-show=`${entity}.moderation.is_deleted`, ng-click=`${vm}.undelete()`, ng-disabled="submitting")
			+icon('trash').space-right.shift-down-1px
			| Undelete
		button.btn.btn-primary.btn-red(ng-hide=`${entity}.moderation.is_refused`, ng-click=`${vm}.refuse()`, ng-disabled="submitting")
			+icon('thumb-down').space-right.shift-down-1px
			| Refuse
		button.btn.btn-default(ng-show=`${entity}.moderation.is_approved || ${entity}.moderation.is_refused`, ng-click=`${vm}.moderate()`, ng-disabled="submitting")
			+icon('thumbs-up-down').space-right
			| Moderate
		button.btn.btn-primary.btn-green(ng-hide=`${entity}.moderation.is_approved`, ng-click=`${vm}.approve()`, ng-disabled="submitting")
			+icon('thumb-up').space-right.shift-up-1px
			| Approve
