.alert.alert--rounded.alert--aligned(ng-show="vm.showHelp")
	+icon('info')
	p Tags highlight special characteristics or features of your release. There are already a bunch of them but you can also define new ones.
.row.padder-top
	.col-sm-6

		//- SELECTED
		h5.h--shift-up.hr--margin-small Selected Tags
		#selected-tags.panel--dropzone-alt(


		)
			div.padder-top(ng-repeat="tag in vm.meta.tags")
				.badge.badge--tag(
					ng-drag="true",
					ng-drag-data="{tag}"
				)
					| {{ tag.name }}
					+icon('times-circle').small.shift-up-less.space-left.a(ng-prevent-drag, ng-click="vm.removeTag(tag, $event)")
				i.space-left {{ tag.description }}
			i(ng-show="vm.meta.tags.length == 0") No tags selected. Drag and drop them from the right hand pane in here.
	.col-sm-6
		.rel-pos
			#available-tags.panel--dropzone-alt-2(
				draggable-container
			)
				//- EXISTING
				h5.hr--margin-small.h--shift-up Existing Tags
				.badge.badge--tag.draggable-source(
					ng-repeat="tag in vm.tags",
					draggable-data="tag"
				)
					| {{ tag.name }}
					+icon('question-circle').small.shift-up.space-left.a(
						uib-tooltip="{{ tag.description }}",
						tooltip-append-to-body="true",
						tooltip-popup-delay="200"
					)

				i(ng-show="vm.tags.length == 0") No more tags available.

		button#add-tag-btn.btn.btn-default.padder-top.pull-right(ng-click="vm.createTag()")
			+icon('plus-circle').space-right
			| Create New Tag

	.clearfix.padder-bottom
