include ../template/_mixins

.row.row--fullheight(ng-controller="ReleaseEditFileCtrl as vm")

	//-----------------------------------------
	// MAIN COLUMN (left)
	//-----------------------------------------
	.col-sm-9.col--main
		h1.h--primary Edit Release
		hr.hr--primary
		p Here you can edit your release. If you want to add another version or another flavor to an
			| existing version, use the <i>Upload File</i> button on the right.

		//- NAME
		//-----------------------------------------
		h4.h--primary.padder-top-2x Release Name
		.form-group(ng-class="{ error: vm.errors.name }")
			input.form-control.input-lg(type="text", placeholder="Title", ng-model="vm.updatedRelease.name")
			.alert.alert-danger(ng-show="vm.errors.name")
				+icon('warning').shift-up.space-right
				| {{ vm.errors.name }}

		//- DESCRIPTION
		//-----------------------------------------
		h4.h--primary.padder-top-2x Description
		.form-group
			editor.tabset--light(ng-model="vm.updatedRelease.description", placeholder="Description of the release", markdown-text="Markdown enabled. This will show up globally under your release.")

		//- AUTHORS
		//-----------------------------------------
		.span(ng-show="vm.editAuthors")
			h4.h--primary.padder-top-2x Authors
			i.pull-left(ng-show="vm.updatedRelease.authors.length == 0") No authors added.
			.row--fullwidth
				.media.media--mini.media--mini-noborders.col-sm-4(ng-repeat="author in vm.updatedRelease.authors", ng-mouseenter="hovering=true", ng-mouseleave="hovering=false")
					.media-left.media-middle
						img.img-avatar.img-avatar--sm(gravatar-src="author.user.gravatar_id", gravatar-default="retro", fallback-icon="user")
					.media-body
						h6.h--no-margin.h--lighter.media-heading {{ author.user.name }}
						span {{ author.roles.join(', ') }}
					.media--edit-panel.fade-animation(ng-show="hovering")
						+icon('pencil').pos-pencil.a.smaller(ng-click="vm.addAuthor(author)")
						+icon('trash').pos-trash.a.smaller(ng-click="vm.removeAuthor(author)")
			button.btn.btn-default.padder-top.pull-right(ng-click="vm.addAuthor()")
				+icon('plus-circle').space-right
				| Add Author
			.clearfix.padder-bottom
			.alert.alert-danger.padder-bottom(ng-show="vm.errors.authors")
				+icon('warning').shift-up.space-right
				| {{ vm.errors.authors }}


		//- TAGS
		//-----------------------------------------
		h4.h--primary.padder-top-2x Tags
		.row.padder-top
			.col-sm-6

				//- SELECTED
				h5.h--shift-up.hr--margin-small Selected Tags
				.panel--dropzone-alt(
					ng-model="vm.updatedRelease.tags",
					data-drop="true",
					data-jqyoui-options="{ accept: '.badge:not([ng-model=vm.updatedRelease.tags])', activeClass: 'active', 'hoverClass': 'hover' }",
					jqyoui-droppable="{ multiple: true }"
				)
					div.padder-top(ng-repeat="tag in vm.updatedRelease.tags")
						.badge.badge--tag(
							ng-model="vm.updatedRelease.tags",
							data-drag="true",
							data-jqyoui-options="{ revert: 'invalid' }",
							jqyoui-draggable="{ animate: true, index: {{$index}} }"
						) {{ tag.name }}
							+icon('times-circle').small.shift-up.space-left.a(ng-click="vm.removeTag(tag)")
						i.space-left {{ tag.description }}
					i(ng-show="vm.updatedRelease.tags.length == 0") No tags selected. Drag and drop them from the right hand pane in here.
			.col-sm-6
				.rel-pos
					.panel--dropzone-alt-2(
						ng-model="vm.tags",
						data-drop="true",
						data-jqyoui-options="{ accept:':not([ng-model=vm.tags])', activeClass: 'active', hoverClass: 'hover' }",
						jqyoui-droppable="{ multiple: true }"
					)

						//- EXISTING
						h5.hr--margin-small.h--shift-up Existing Tags
						.badge.badge--tag(
							ng-repeat="tag in vm.tags", ng-model="vm.tags",
							data-drag="true",
							data-jqyoui-options="{ revert: 'invalid' }",
							jqyoui-draggable='{ animate: true, index: {{$index}} }'
						)
							| {{ tag.name }}
							+icon('question-circle').small.shift-up.space-left.a(
								uib-tooltip="{{ tag.description }}",
								tooltip-append-to-body="true",
								tooltip-trigger="click",
								tooltip-popup-delay="200"
							)
						i(ng-show="vm.tags.length == 0") No more tags available.

				button.btn.btn-default.padder-top.pull-right(ng-click="vm.createTag()")
					+icon('plus-circle').space-right
					| Create New Tag

			.clearfix.padder-bottom


		//- LINKS
		//-----------------------------------------
		h4.h--primary Links
		.row.row--fullwidth.row--no-margin
			.form-group.col-sm-3
				label Label
			.form-group.col-sm-9
				label URL
		.row.row--fullwidth(ng-repeat="link in vm.updatedRelease.links")
			.form-group.col-sm-3
				input.form-control(type="text", ng-model="vm.link.label")
			.form-group.col-sm-9
				.input-group
					input.form-control(type="text", ng-model="vm.link.url")
					span.input-group-addon: +icon('trash').smaller.a(ng-click="vm.removeLink(link)")
		.row.row--fullwidth
			.form-group.col-sm-3
				input.form-control(type="text", ng-model="vm.newLink.label")
			.form-group.col-sm-9
				.input-group
					input.form-control(type="text", ng-model="vm.newLink.url", on-enter="vm.addLink(newLink)")
					span.input-group-addon: +icon('plus-circle').smaller.a(ng-click="vm.addLink(newLink)")


		//- ACKNOWLEDGEMENTS
		//-----------------------------------------
		h4.h--primary Acknowledgements
		.form-group
			editor.tabset--light(ng-model="vm.updatedRelease.acknowledgements", placeholder="List of people to thank", markdown-text="Markdown enabled. This will show up under your release's acknowledgements.")


		//- FOOTER BUTTONS
		//-----------------------------------------
		hr.padder-top-2x
		.alert.alert-danger.alert--inverted.padder-bottom(ng-show="vm.errors && vm.errors.__count")
			+icon('warning').shift-up.space-right
			| There were errors while submitting your release. Please scroll up and fix the marked fields.
		.alert.alert-danger.alert--inverted.padder-bottom(ng-show="vm.error")
			+icon('warning').shift-up.space-right
			| {{ error }}
		a.btn.btn-hollow.btn-lg.space-right(ui-sref="releaseDetails({ id: vm.game.id, releaseId: vm.release.id })") Cancel
		button.btn.btn-default.btn-lg(ng-click="vm.reset()") Reset
		button.btn.btn-primary.btn-lg.pull-right(ng-click="vm.submit()", ng-disabled="!vm.AuthService.isAuthenticated") Update
		.clearfix

		//- TODO fix
		p.padder-top-2x

	//-----------------------------------------
	// MENU BAR (right)
	//-----------------------------------------
	.col-sm-3.col--menu
		.text-center
			img.img--logo(ng-show="vm.game.logo.url", ng-src="{{ vm.App.img(vm.game.logo, 'medium') }}")
			h3.h--multiline {{ vm.game.title }}
			| {{ vm.release.name }}

			.clearfix
			a.btn.padder-top-2x(ui-sref="addReleaseVersion({ id: vm.game.id, releaseId: vm.release.id })")
				+icon('plus-circle').space-right.hidden-md
				| Upload File

		p.clearfix.padder-bottom-2x


		//- VERSIONS
		//-----------------------------------------
		h4.h--primary Edit Version
		table.table.table-striped.table--selectable.primary
			tbody
				tr.center-vertically(ng-repeat="version in vm.release.versions", ng-click="vm.editVersion(version)")
					td {{ version.version }}
					td: .multiline-wrapper: img.img--rounded.img--ar-square.img--xs.pull-right.space-left(
						ng-repeat="file in version.files | filter:tableFile",
						ng-src="{{ file.playfield_image.variations['square'].url }}"
						uib-tooltip="{{ vm.Flavors.orientation.values[file.flavor.orientation].other }} / {{ vm.Flavors.lighting.values[file.flavor.lighting].name }} / {{ vm.flattenBuilds(file.compatibility) }}"
						tooltip-append-to-body="true")

