include ../template/_mixins

p.padder-top(ng-show="vm.pageLoading")
	+icon('circle-o-notch').small.svg-spin.space-right.shift-up
	| Loading...

.row.ng-cloak.row--fullheight.fade-animation(ng-show="!vm.pageLoading")

	//-- RIGHT COLUMN
	//-====================================================================
	.col-sm-4.col-md-3.col-sm-push-8.col-md-push-9.col--menu(ng-show="vm.found")

		a.a--block.text-center(ui-sref="gameDetails({id: vm.game.id})")
			img.img--logo(ng-src="{{ vm.App.img(vm.game.logo, 'medium') }}").padder-bottom

		//-- PLAYFIELD SHOTS
		//---------------------------------------------------------------------
		uib-carousel.padder-horizontal(interval="60000")
			uib-slide(ng-repeat="slide in vm.shots", active="slide.active")
				a.image(href="{{ slide.full }}")
					img(ng-src="{{ slide.url }}")

		//-- RELEASE RATING
		//---------------------------------------------------------------------
		p.padder-bottom(ng-show="vm.shots.length > 1") &nbsp;
		.text-center
			.ratingbox.padder-top(
				rating-avg="vm.release.rating.average",
				rating-votes="vm.release.rating.votes",
				rating-user="vm.releaseRating"
				rating-action="vm.rateRelease($rating)",
				rating-readonly="!vm.AuthService.hasPermission('releases/rate')")

		//-- DOWNLOAD BUTTON
		//---------------------------------------------------------------------
		.text-center: button.btn.btn-primary.padder-top.padder-bottom.text-center(ng-click="vm.download(vm.game)")
			+icon('download-circle').space-right.hidden-sm.hidden-md
			| Download


		//-- STATS
		//---------------------------------------------------------------------
		hr
		.padder-horizontal-3x
			p
				.a.pull-right(
					uib-tooltip="{{ vm.release.starred ? 'Unstar' : 'Star' }} this release",
					tooltip-placement="right",
					tooltip-append-to-body="true",
					ng-show="vm.AuthService.hasPermission('releases/star')",
					ng-class="{ 'a--primary': vm.release.starred }"
				)
					+icon('star')(ng-click="vm.ReleaseService.toggleReleaseStar(vm.release)").shift-up-2x
				+icon('star-circle').svg-2x.shift-up-2x.space-right
				| {{ vm.release.counter.stars | number }} star{{ vm.release.counter.stars != 1 ? 's' : '' }}
			p.oneliner
				+icon('comment-circle').svg-2x.shift-up-2x.space-right
				| {{ vm.release.counter.comments | number }} comment{{ vm.release.counter.downloads != 1 ? 's' : '' }}
			p.oneliner
				+icon('download-circle').svg-2x.shift-up-2x.space-right
				| {{ vm.release.counter.downloads | number }} download{{ vm.release.counter.downloads != 1 ? 's' : '' }}
			p.oneliner
				+icon('eye-circle').svg-2x.shift-up-2x.space-right
				| {{ vm.release.counter.views | number }} view{{ vm.release.counter.views != 1 ? 's' : '' }}

		//-- AUTHOR ZONE
		//---------------------------------------------------------------------
		.panel--rect-block.padder-top(ng-show="(vm.AuthService.hasPermission('releases/update-own') && vm.AuthService.isAuthor(vm.release)) || vm.AuthService.hasPermission('releases/update')")
			h1.text-center
				+icon('gear').space-right
				| {{ vm.zoneName }} Zone

			.center
				ul.ul--no-list
					li: a.text-center(ui-sref="addReleaseVersion({ id: vm.game.id, releaseId: vm.release.id })")
						+icon('plus-circle').space-right.shift-up
						| Upload File
					li: a.text-center(ui-sref="editRelease({ id: vm.game.id, releaseId: vm.release.id })")
						+icon('pencil-circle').space-right.shift-up
						| Edit Release
					li(ng-hide="vm.release.moderation && !vm.release.moderation.is_approved")
						input#showModeration.checkbox--toggle(type='checkbox', ng-model="vm.showModeration")
						label(for="showModeration")
						label.a.a--light(for="showModeration") Show Moderation

			p.padder-top


	//-- LEFT COLUMN (main content)
	//-====================================================================
	.col-sm-8.col-md-9.col-sm-pull-4.col-md-pull-3.col--main(ng-show="vm.found")

		.alert.alert-danger.no-space-top(ng-show="vm.game.restrictions.release.mpu")
			+icon('warning').shift-up.space-right
			| This is a {{ vm.game.mpu.short }} game. We allow uploads of restricted games but as the author you are the only one who can access this release.

		//-- MODERATION ZONE
		//---------------------------------------------------------------------
		.panel--rect-block.padder-top.shift-up-1px(ng-show="vm.showModeration")
			h1.text-center(uib-tooltip="Only visible by moderators and the uploader. Will disappear when the release is approved.", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="200")
				+icon('forum').space-right
				| Moderation Zone

			.padder-2x
				label(ng-show="!vm.moderationComments || vm.moderationComments.length == 0") No comments yet.
				.media.media--no-margin.collapse-in-animation(ng-repeat="comment in vm.moderationComments track by comment.id")
					.collapse-in-animation-inner
						.media-left.avatar
							img.img-avatar.pull-left(gravatar-src="comment.from.gravatar_id", gravatar-default="retro", fallback-icon="user")
						.media-body.media--full-width
							.panel.panel--inner
								.panel-triangle
								.panel-heading
									label
									strong {{ comment.from.name }}
									| commented {{ comment.created_at | timeAgo }}
								.panel-body
									div.markdown(markdown="comment.message")

				editor(ng-model="vm.newModerationComment", user="vm.AuthService.user", placeholder="Comment about release moderation", markdown-text="Comments are parsed with Markdown.")

				button.btn.btn-hollow.pull-right.shift-up-2x(ng-click="vm.addModerationComment(vm.release.id)") Reply
				.clearfix

			.alert.alert-info(ng-show="!vm.release.moderation.is_refused && !vm.release.moderation.is_approved")
				.text-center
					+icon('warning').shift-up.space-right
					| Release moderation is still pending.

			.alert.alert-success(ng-show="!vm.release.moderation.is_refused && vm.release.moderation.is_approved")
				.text-center
					+icon('info').space-right
					| This release has been {{ vm.release.moderation.auto_approved ? 'auto-approved' : 'approved' }}.

			.alert.alert-danger(ng-show="vm.release.moderation.is_refused")
				.text-center
					+icon('warning').shift-up.space-right
					| This release has not been approved for publication.

		.title.padder-top
			h1.title-main.h--primary(property="v:itemreviewed")
				a.a--primary(ui-sref="gameDetails({id: vm.game.id})") {{ vm.game.title }}
				| &nbsp;&middot; {{ vm.release.name }} {{ vm.latestVersion.version }}
			h1.title-sub
				.badge.badge--tag.badge--small.shift-down(ng-repeat="tag in vm.release.tags", uib-tooltip="{{ tag.description }}", tooltip-append-to-body="true") {{ tag.name }}
		hr

		div.markdown(markdown="vm.release.description", ng-show="vm.release.description")

		//-- AUTHORS
		//---------------------------------------------------------------------
		h3.h--smaller.h--primary Authors
		.media.col-sm-6.col-md-4(ng-repeat="author in vm.release.authors")
			.media-left.media-middle
				img.img-avatar.img-avatar--sm(gravatar-src="author.user.gravatar_id", gravatar-default="retro", fallback-icon="user")
			.media-body
				user {{ author.user.name }}
				br
				| {{ author.roles.join(', ') }}
		.clearfix


		//-- ACKNOWLEDGEMENTS
		//---------------------------------------------------------------------
		h3.h--smaller.h--primary(ng-show="vm.release.acknowledgements") Acknowledgements
		div.markdown(markdown="vm.release.acknowledgements", ng-show="vm.release.acknowledgements")

		//-- MOD PERMISSION
		//---------------------------------------------------------------------
		h3.h--smaller.h--primary Mod Permissions
		div {{ vm.modPermission }}


		//-- VERSION HISTORY
		//---------------------------------------------------------------------
		h3.h--smaller.h--primary Version History
		.panel-group--transparent.subtle(uib-accordion, close-others="false")
			div(uib-accordion-group, ng-repeat="version in vm.releaseVersions", is-open="$first")
				div(uib-accordion-heading)
					strong.space-left-2x v{{ version.version }}
					|  ({{ version.released_at | timeAgo }})
					+icon('angle-down').smaller.shift-down.pull-right

				div.markdown.space-left-2x(markdown="version.changes")

		//-- LINKS
		//---------------------------------------------------------------------
		h3.h--smaller.h--primary(ng-show="vm.release.links && vm.release.links.length") Links
		a(ng-repeat="link in vm.release.links", ng-href="{{ link.url }}", target="_blank") {{ link.label }} <br>

		//-- FLAVORS
		//---------------------------------------------------------------------
		h1.h--small
			| Available Flavors
			.pull-right
				input#showFilenames.checkbox--toggle(type='checkbox', ng-model="vm.$localStorage.showFilenames")
				label.shift-down(for="showFilenames")
				label.a.a--light.font-content(for="showFilenames") Show file names
		hr
		table.table.table-striped
			thead
				tr
					th(width="25px")
					th
					th(ng-show="!vm.$localStorage.showFilenames") Orientation
					th.hidden-xs.hidden-sm(ng-show="!vm.$localStorage.showFilenames") Lighting
					th(ng-show="!vm.$localStorage.showFilenames") Compatibility
					th(ng-show="vm.$localStorage.showFilenames") File Name
					th(ng-show="vm.$localStorage.showFilenames") Version
					th Size
			tbody
				tr(ng-repeat="flavor in vm.flavorGrid")
					td.validation-badge(ng-class='flavor.file.validation | validationStatus')
						a(ng-click="vm.validateFile(vm.release, flavor.version.version, flavor.file)", uib-tooltip="{{ flavor.file.validation | validationTooltip }}", tooltip-placement="right", tooltip-append-to-body="true", tooltip-popup-delay="500")
							+icon('{{ "medal-" + (flavor.file.validation | validationStatus) }}')
					td.td--img
						img.img--rounded(ng-src="{{ vm.App.img(flavor.file.playfield_image, 'square') }}")
					td(ng-show="!vm.$localStorage.showFilenames")
						| {{ flavor.orientation.name }} <br>
						i {{ flavor.orientation.other }}
					td.hidden-xs.hidden-sm(ng-show="!vm.$localStorage.showFilenames")
						| {{ flavor.lighting.name }} <br>
						i {{ flavor.lighting.other }}
					td(ng-show="!vm.$localStorage.showFilenames")
						span(ng-repeat="compat in flavor.file.compatibility") {{ compat.label }}
					td(ng-show="vm.$localStorage.showFilenames") {{ flavor.file.file.name }}
					td(ng-show="vm.$localStorage.showFilenames") {{ flavor.version.version }}
					td {{ flavor.file.file.bytes | bytes }}

		h1.h--small Comments
		hr

		//-- EXISTING COMMENTS
		//---------------------------------------------------------------------
		label(ng-show="!vm.comments || vm.comments.length == 0") No comments yet.
		.media.media--no-margin.collapse-in-animation(ng-repeat="comment in vm.comments track by comment.id", ng-controller="CommentCtrl", ng-init="show=true")
			.collapse-in-animation-inner
				.media-left.avatar
					img.img-avatar.pull-left(gravatar-src="comment.from.gravatar_id", gravatar-default="retro", fallback-icon="user")
				.media-body.media--full-width
					.panel.panel--inner
						.panel-triangle
						.panel-heading
							label
							strong {{ comment.from.name }}
							| &nbsp;commented {{ comment.created_at | timeAgo }}
						.panel-body
							div.markdown(markdown="comment.message")

		//-- NEW COMMENT
		//---------------------------------------------------------------------
		div(ng-show="vm.AuthService.hasPermission('comments/add')")
			h3.h--smaller.h--primary Add a Comment:
			editor(ng-model="vm.newComment", user="vm.AuthService.user", placeholder="Your comment", markdown-text="Comments are parsed with Markdown.")
			button.btn.btn-default.padder-top.pull-right(ng-click="vm.addComment(vm.release.id)") Comment

		.clearfix
		p.padder-bottom-2x

	.padder-top.space-left-2x(ng-show="!vm.found && !vm.pageLoading")
		p Sorry, no such release found.
		p(ng-show="!vm.AuthService.isAuthenticated") If you're looking for a moderated release, try logging in.

	jsonld(json="vm.ldRelease")

script(id="template/carousel/carousel.html", type="text/ng-template")
	.carousel(ng-mouseenter="pause()", ng-mouseleave="play()", ng-swipe-right="prev()", ng-swipe-left="next()")
		ol.carousel-indicators(ng-show="slides.length > 1")
			li(ng-repeat="slide in slides track by $index", ng-class="{active: isActive(slide)}", ng-click="select(slide)")
		.carousel-inner(ng-transclude="")
		a.left.carousel-control(ng-click="prev()", ng-show="slides.length > 1")
			+icon('angle-left')
		a.right.carousel-control(ng-click="next()", ng-show="slides.length > 1")
			+icon('angle-right')