include ../template/_mixins
include ../template/timepicker

.row.row--fullheight(ng-controller="BackglassAddCtrl as vm")
	.col-sm-9.col--main

		.alert.alert-danger.no-space-top(ng-show="vm.game.restrictions.release.mpu")
			+icon('warning').space-right.shift-up
			b Game Restriction <br>
			| This is a {{ vm.game.mpu.short }} game. In order to respect the industry, we don't allow users to download {{ vm.game.mpu.short }} games. You still can upload backglasses but be aware that only you will able to see them until the situation changes.

		h1.h--primary Add a new Backglass
		hr.hr--primary

		//---------------------------------------------------------------------
		h4 Upload File
		hr.hr--light
		.panel.panel--dropzone(
			file-upload="{ controller: vm, type: 'backglass', key: 'backglass', status: vm.meta.files, onSuccess: vm.onBackglassUpload, allowedExtensions: ['directb2s'], allowMultipleFiles: false }"
			ngf-drag-over-class="'panel--dragging'",
			ngf-select-disabled="vm.meta.files.backglass.uploading"
			ngf-drop-disabled="vm.meta.files.backglass.uploading"
			ng-class="{ error: vm.filesError }"
			ng-show="!vm.meta.files.backglass.variations['full']"
		)
			uib-progressbar.no-space-top.progress--fixed-absolute.progress-striped.active(
				value="vm.meta.files.backglass.progress",
				ng-show="vm.meta.files.backglass.uploading"
			)
			label.center-block.text-center: small: i Drop your .directb2s file in here.

		.panel.panel--blank(
			ng-show="vm.meta.files.backglass.variations['full']"
			file-upload="{ controller: vm, type: 'backglass', key: 'backglass', status: vm.meta.files, onSuccess: vm.onBackglassUpload, allowedExtensions: ['directb2s'], allowMultipleFiles: false }"
			ngf-drag-over-class="'panel--dragging'"
			ngf-select-disabled="vm.meta.files.backglass.uploading"
			ngf-drop-disabled="vm.meta.files.backglass.uploading"
		)
			.panel-body.a.a--darker
				.img.img--ar-bg.loaded(img-bg="vm.meta.files.backglass.variations['full']")
					.text-center.vertical-center--100
						.span(ng-show="img.loading")
							+icon('gear').svg-3x.svg-spin--slow
							p Generating thumbnail...

		//---------------------------------------------------------------------
		h4 Description
		hr.hr--light
		.form-group
			editor.tabset--light(ng-model="vm.backglass.description", placeholder="Description of the backglass", markdown-text="Markdown enabled.")

		.form-group(ng-class="{ error: vm.errors.versions[0].version }")
			label.control-label(for="version") Version
			.row
				.col-sm-2: input#version.form-control(type="text", ng-model="vm.backglass.versions[0].version", placeholder="x.x")
				.col.sm-10: i Don't prefix with <code>v</code>.
			.alert.alert-danger(ng-show="vm.errors.versions[0].version")
				+icon('warning').shift-up.space-right
				| {{ vm.errors.versions[0].version }}
		.clearfix

		.form-group(ng-class="{ error: vm.errors.versions[0].released_at }")
			label.control-label Release Date
			.row
				.col-sm-3: .input-group
					input.form-control.datepicker(
						type="text",
						ng-model="vm.meta.releaseDate",
						ng-required="true",
						uib-datepicker-popup="yyyy-MM-dd",
						format-day-header="EE"
						is-open="vm.calendarOpened",
						close-text="Close",
						show-weeks="false",
						starting-day="1"
					)
					span.input-group-addon: +icon('calendar').a(ng-click="vm.openCalendar($event)")
				.col-sm-2
					uib-timepicker(ng-model="vm.meta.releaseTime", hour-step="1", minute-step="5", show-meridian="false")
				.col-sm-7
					i Leave empty for submission time.

		div.alert.alert-danger.padder-bottom(ng-show="vm.errors.built_at")
			+icon('warning').shift-up.space-right
			| {{ vm.errors.built_at }}

		.form-group
			label.control-label(for="version") Release Notes
			editor.tabset--light(ng-model="vm.backglass.versions[0].changes", placeholder="Release Notes", markdown-text="Markdown enabled. This will show up in the change log of the backglass.")

		//---------------------------------------------------------------------
		h4 Authors
		hr.hr--light.hr--margin-small
		i.pull-left(ng-show="vm.backglass.authors.length == 0") No authors added.
		.row--fullwidth
			.media.media--mini.media--mini-noborders.col-sm-4(ng-repeat="author in vm.backglass.authors", ng-mouseenter="hovering=true", ng-mouseleave="hovering=false")
				.media-left.media-middle
					img.img-avatar.img-avatar--sm(gravatar-src="vm.meta.users[author._user].gravatar_id", gravatar-default="retro", fallback-icon="user")
				.media-body
					h6.h--no-margin.h--lighter.media-heading {{ vm.meta.users[author._user].name }}
					span {{ author.roles.join(', ') }}
				.media--edit-panel.fade-animation(ng-show="hovering")
					+icon('pencil').pos-pencil.a.smaller(ng-click="vm.addAuthor(author)")
					+icon('trash').pos-trash.a.smaller(ng-click="vm.removeAuthor(author)")
		button.btn.btn-default.padder-top.pull-right(ng-click="vm.addAuthor()")
			+icon('plus-circle').space-right
			| Add Author
		.clearfix.padder-bottom
		.alert.alert-danger.padder-bottom(ng-show="vm.errors.authors")
			+icon('warning').shift-up.space-right
			| {{ vm.errors.authors }}
		p Everybody you add here will have write permissions to the backglass you are about to create, i.e. they can edit the backglass and add new versions.
		p You can add acknowledgements below for people who provided help or resources but are not considered as authors for that particular backglass.

		//---------------------------------------------------------------------
		h4 Acknowledgements
		hr.hr--light
		.form-group
			editor.tabset--light(ng-model="vm.backglass.acknowledgements", placeholder="List of people to thank", markdown-text="Markdown enabled.")

		hr
		button.btn.btn-default.btn-lg(ng-click="vm.reset()") Reset
		button.btn.btn-primary.btn-lg.pull-right(ng-click="vm.submit()", ng-disabled="submitting") Add Backglass
		.clearfix

		p
			br

	.col-sm-3.col--menu
		img.img--logo(ng-show="vm.game.logo.url", ng-src="{{ vm.App.img(vm.game.logo, 'medium') }}")
		h3.h--multiline.text-center {{ vm.game.title }}
		.text-center {{ vm.game.manufacturer }} · {{ vm.game.year }}
