include ../template/_mixins
include ../template/paginator

.jumbotron

	h3.h--larger Find your Game.

	//- search
	//-------------------------------------------------------------------------
	#search-result.collapse--search

		div(uib-collapse="vm.searchResult")
			.spacer &nbsp;
		.panel(uib-collapse="!vm.searchResult")
			.container(ng-class="{ 'paging-padder': vm.pagination.count > 12 }")
				.row.fade2-animation(ng-show="vm.games.length > 0")
					.clear
						+icon('times')(ng-click="vm.q = ''").a
					.paginator(ng-show="vm.pagination.count > 12")
						+paginator('vm.pagination', 'vm.paginate')

					.col-md-3.col-sm-4.col-xs-6(ng-repeat="game in vm.gameResult", ui-sref="gameDetails({ id: game.id})")
						.panel.panel--animated.ng-cloak
							.img.img--ar-bg.img--rounded-top(img-bg="vm.App.img(game.backglass, 'small')")
							.text-center.padder-horizontal
								h1.h--small {{ game.title }}
								label.label--subtitle {{ game.manufacturer }} &middot; {{ game.year }}

				p#no-result.padder-bottom-2x(ng-show="!vm.gameResult.length && !vm.status.gameResult.loading && !vm.status.gameResult.offline"): i No games found containing "{{ vm.q }}".
				p.padder-bottom-2x(ng-show="vm.status.gameResult.offline"): i Looks like you're offline!
				p#searching.padder-bottom-2x(ng-show="!vm.gameResult.length && vm.status.gameResult.loading"): i Searching...

		.searchbox.abs-center
			form.form-inline
				.input-group.input-group--separated
					input.form-control.input--lighter(type="text", ng-model="vm.q", focus-on)
					.input-group-addon
						+icon('search').space-left

	//- info
	//-------------------------------------------------------------------------
	#whats-this.collapse--info
		div(uib-collapse="whatsThis")
			.spacer &nbsp;
		.panel(uib-collapse="!whatsThis")

			.clear
				+icon('offline')(ng-click="whatsThis = false").a

			h3.h--large.h--primary What's this?
			p.center-block
				| Welcome to VPDB, the Virtual Pinball Database. VPDB is a place where people can share their digital
				| recreations of virtual pinball tables and everything else related to virtual pinball.

			.row.padder-top-3x
				.col-sm-4.text-center
					p: +icon('github-alt').svg-3x
					p VPDB is <a href="https://github.com/vpdb/backend" class="a--primary">open source</a>. It can be deployed and improved by anyone interested.
						hr.hr--light.visible-xs-block
				.col-sm-4.text-center
					p: +icon('database').svg-3x
					p VPDB is <a href="https://developer.vpdb.io/api/v1/releases" class="a--primary">structured</a>. It uses its own database that is designed for exactly that purpose.
						hr.hr--light.visible-xs-block
				.col-sm-4.text-center
					p: +icon('flash').svg-3x
					p VPDB is <a href="https://developer.vpdb.io/code/performance" class="a--primary">fast</a>. Various programming techniques ensure a fluid and pleasing experience.

			p.padder-top-2x

		.abs-center
			a#toggle.a--lighter(ng-click="whatsThis = !whatsThis")
				+icon('{{ vm.status.gameResult.loading ? "circle-o-notch" : "vpdb-o" }}')(ng-class="{ 'svg-spin': vm.status.gameResult.loading }").svg-3x

.row.row--padded

	//- releases
	//-------------------------------------------------------------------------
	.col-sm-12
		h1.h--primary
			| Latest Releases
			a.font-content.shift-down.pull-right(ui-sref="releases")
				| More
				+icon('angle-right').smaller.space-left
		hr
		.row.fade2-animation
			.col-lg-4.col-md-6(ng-repeat="release in vm.releases", ui-sref="releaseDetails({ id: release.game.id, releaseId: release.id })")
				.panel.panel--animated.ng-cloak
					.clearfix
					.col--list-mini-left
						.img.img--ar-square.img--rounded-left(img-bg="release.thumb.image.url")
					.col--list-mini-right
						.a.pull-right.space-right(
						uib-tooltip="{{ release.starred ? 'Unstar' : 'Star' }} this release",
							tooltip-placement="right",
							tooltip-append-to-body="true",
							ng-show="vm.AuthService.hasPermission('releases/star')",
							ng-class="{ 'a--primary': release.starred }"
						)
							+icon('star')(ng-click="vm.ReleaseService.toggleReleaseStar(release, $event)").shift-up-2x
						h1.h--small.h--no-margin {{ release.game.title }}
						label.label--block  {{ release.name }}
						span.small.pull-right.space-right {{ release.released_at | timeAgo }}
						div.small.oneliner by {{ release.authors[0].user.name }}
					.clearfix
		.clearfix
		p(ng-if="vm.releases.length === 0 && !vm.status.releases.offline && !vm.status.releases.loading") No releases in database yet.
		p(ng-if="vm.status.releases.offline")
			+icon('offline').small.space-right.shift-up
			| Offline.
			a.space-left(ng-click="vm.loadReleases()") Retry
		p(ng-if="vm.status.releases.loading")
			+icon('circle-o-notch').small.svg-spin.space-right.shift-up
			| Loading...

	//- games
	//-------------------------------------------------------------------------
	.col-sm-12
		h1.h--primary
			| Popular Games
			a.font-content.shift-down.pull-right(ui-sref="games")
				| More
				+icon('angle-right').smaller.space-left
		hr

		.row.fade2-animation(ng-show="vm.games.length > 0")
			.col-md-3.col-sm-4.col-xs-6(ng-repeat="game in vm.games", ui-sref="gameDetails({ id: game.id})")
				.panel.panel--animated.ng-cloak
					.img.img--ar-bg.img--rounded-top(img-bg="vm.App.img(game.backglass, 'small')")
					.text-center.padder-horizontal
						h1.h--small {{ game.title }}
						label.label--subtitle {{ game.manufacturer }} &middot; {{ game.year }}
		p(ng-if="vm.games.length === 0 && !vm.status.games.offline && !vm.status.games.loading") No games in database yet.
			p(ng-if="vm.status.games.offline")
				+icon('offline').small.space-right.shift-up
				| Offline.
				a.space-left(ng-click="vm.loadGames()") Retry
			p(ng-if="vm.status.games.loading")
				+icon('circle-o-notch').small.svg-spin.space-right.shift-up
				| Loading...
